* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dotted black; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: url('gambar/ejen\ Alicia.jpg') no-repeat center center fixed;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5rem;
    align-items: center;
}

/* button 1 */
header .container .button button {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: yellow;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    -webkit-box-reflect: below 5px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    transition: all 0.3s ease;
}

header .container .button button:hover {
    transform: scale(1.1);
    background-color: cyan;
    box-shadow: 0 0 20px cyan;
}

/* button 2 */
header .container .button2 button {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    animation: spin 2s linear infinite;
    border: 2px solid;
    transition: all 0.3s ease;
    animation-play-state: running;
}

header .container .button2 button:hover {
    animation-play-state: paused;
    transform: scale(1.1);
    background-color: black;
}

@keyframes spin {
    0% {
        border: solid yellow;
    }

    25% {
        border: solid red;
    }

    50% {
        border: solid grey;
    }

    75% {
        border: solid blue;
    }

    100% {
        border: solid yellow;
    }
}

/* button 3 */
header .container .button3 button {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: green;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
}

header .container .button3 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: yellow;
    border-radius: 50px;
    transition: width 0.5s ease;
    width: 0;
}

header .container .button3 span .fa-arrow-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1.5rem;
    transition: display 0.5s ease;
    display: none;
}

header .container .button3:hover span {
    width: 100%;
}

header .container .button3:hover span .fa-arrow-right {
    display: block;
}