:root {
    --white: #f9f9f9;
    --black: #131313;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dotted black; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1000;
}

nav .fa-bars-staggered {
    position: fixed;
    top: 5%;
    left: 2%;
    z-index: 5;
    width: 20px;
    height: 20px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    cursor: pointer;
    transition: all 0.5s ease;
    filter: drop-shadow(5px 5px 10px var(--black));
}

.fa-bars-staggered,
.fa-x {
    transition: transform 0.3s ease;
}

.fa-x {
    transform: rotate(90deg);
}

.sidebar {
    width: 350px;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(120deg, #f8ffae, #43c6ac);
    overflow: hidden;
    transition: all 0.7s ease;
    transform: rotate(45deg);
    top: -50%;
    border-radius: 0;
    left: -22%;
}

.sidebar.active {
    transform: rotate(0);
    top: 0;
    left: 0;
    border-radius: 0 100% 100% 0;
}

.sidebar .logo {
    position: absolute;
    top: 3%;
    right: 40%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
}

.sidebar .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    max-width: 200px;
    list-style: none;
    line-height: 50px;
    position: relative;
    top: -12%;
    left: 10%;
    padding: 10px;
    margin: 0;
}

.sidebar ul li {
    transition: transform 0.3s ease;
}

.sidebar ul li:hover {
    transform: translate(5px);
}

.sidebar ul li a {
    color: var(--black);
    text-decoration: none;
    font-size: 1rem;
    text-transform: capitalize;
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 10px;
}

.sidebar .dropdown {
    position: fixed;
    bottom: 40%;
    /* display: inline-block; */
}

.sidebar .dropdown button {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    height: auto;
    list-style: none;
    line-height: 40px;
    position: relative;
    left: 0;
    background: transparent;
    border: none;
    font-size: 1rem;
    column-gap: 10px;
    text-transform: capitalize;
    color: var(--black);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar .dropdown .fa-chevron-down {
    font-size: 1rem;
}

.fa-chevron-down,
.fa-chevron-up {
    transition: transform 0.5s ease;
}

.fa-chevron-up {
    transform: rotate(360deg);
}

.sidebar .dropdown .content {
    position: absolute;
    z-index: 1;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .dropdown .content a {
    color: var(--black);
    display: flex;
    flex-direction: column;
    position: relative;
    left: 26%;
    height: 30px;
    font-size: 1rem;
    padding: 0 10px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0;
    transition: all 0.3s ease;
    opacity: 0;
}

.sidebar .dropdown .content a:hover {
    transform: translate(5px);
}

.sidebar .dropdown .content a.active {
    opacity: 1;
}

.sidebar .pilar {
    display: flex;
    align-items: end;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    right: 10%;
    width: 100%;
    height: auto;
    background-color: black;
}

.sidebar .pilar img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

header {
    width: 100%;
    height: 100vh;
    background: url('gambar/Ejen\ Alicia\ Season\ 1.jpg') no-repeat center center/cover;
    filter: brightness(0.7);
    position: relative;
    top: 0;
}

#page1 {
    width: 100%;
    height: 100vh;
    background: url(gambar/Alicia\,\ Comot.jpg) no-repeat center center/cover;
    filter: brightness(0.7);
    position: relative;
    top: 0;
}

#page2 {
    width: 100%;
    height: 100vh;
    background: url(gambar/Alicia\,\ Kim.jpg) no-repeat center center/cover;
    filter: brightness(0.7);
    position: relative;
    top: 0;
}

@media screen and (max-width: 767px) {
    nav .fa-bars-staggered {
        left: 5%;
    }

    .sidebar {
        width: 65%;
        top: -46%;
        left: -50%;
    }

    .sidebar ul {
        top: -7%;
        left: 10%;
    }

    .sidebar .pilar {
        bottom: 10%;
        width: 100%;
        height: auto;
        background-color: black;
    }

    .sidebar .pilar img {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    nav .fa-bars-staggered {
        left: 4%;
    }

    .sidebar {
        top: -50%;
        left: -30%;
    }

    .sidebar ul {
        top: -7%;
    }

    .sidebar .dropdown {
        top: 50%;
    }
}