* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2 {
    font-size: 1.5rem;
    font-family: pacifico;
    margin: 10px 0;
    text-transform: uppercase;
}

.container .gallery {
    min-width: 50%;
    min-height: 50vh;
    background-color: yellow;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* .container .gallery .item {
    flex: 1 1 calc(10% - 0);
} */

.container .gallery .item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    z-index: 0;
    transition: all 0.3s;
}

.container .gallery .item img:hover {
    z-index: 5;
    transform: scale(1.1);
}

@media screen and (max-width: 767px) {
    .container {
        width: 90%;
        height: 100vh;
    }

    .container .gallery .item img {
        width: 150px;
        height: 150px;
    }
}
