:root {
    --black: #101010;
    --white: #fbfbfb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background: url('gambar/Ejen\ Alicia\ Season\ 1.jpg') no-repeat center center fixed;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .social {
    position: relative;
}

header .fa-bars-staggered {
    color: var(--white);
    font-size: 2rem;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1000;
    cursor: pointer;
    filter: drop-shadow(5px 5px 15px var(--black));
}

.fa-bars-staggered,
.fa-xmark {
    transition: all 0.3s linear;
}

.fa-xmark {
    transform: rotate(90deg);
    color: var(--black);
}

header .fa-instagram {
    font-size: 2rem;
    color: white;
    position: absolute;
    background: linear-gradient(to left, #fa0000ff 0%, #0000ff00 70%), linear-gradient(to bottom right, #5900ffff 0%, #0000ff00 70%), 
    linear-gradient(to top right, #fff200ff 0%, #0000ff00 70%), linear-gradient(to top, #ffffffff 0%, #ffffffff 100%);
    border-radius: 50%;
    padding: 10px;
    transition: all 0.5s ease;
    transform: translate(0);
    opacity: 0;
}

header .fa-instagram.active {
    transform: translate(0, -200%);
    opacity: 1;
    box-shadow: 5px 5px 10px var(--black);
}

header .fa-github {
    font-size: 2rem;
    color: white;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.5s ease 0.2s;
    transform: translate(0);
    opacity: 0;
}

header .fa-github.active {
    transform: translate(-200%, -105%);
    opacity: 1;
    box-shadow: 5px 5px 10px var(--black);
}

header .fa-linkedin {
    font-size: 2rem;
    color: white;
    position: absolute;
    background-color: purple;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.5s ease 0.4s;
    transform: translate(0);
    opacity: 0;
}

header .fa-linkedin.active {
    transform: translate(-200%, 115%);
    opacity: 1;
    box-shadow: 5px 5px 10px var(--black);
}

header .fa-telegram {
    font-size: 2rem;
    color: white;
    position: absolute;
    background-color: blue;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.5s ease 0.6s;
    transform: translate(0);
    opacity: 0;
}

header .fa-telegram.active {
    transform: translate(0, 200%);
    opacity: 1;
    box-shadow: 5px 5px 10px var(--black);
}

header .fa-facebook {
    font-size: 2rem;
    color: white;
    position: absolute;
    background-color: blue;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.5s ease 0.8s;
    transform: translate(0);
    opacity: 0;
}

header .fa-facebook.active {
    transform: translate(200%, 115%);
    opacity: 1;
    box-shadow: 5px 5px 10px var(--black);
}

header .fa-x-twitter {
    font-size: 2rem;
    color: white;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.5s ease 1s;
    transform: translate(0);
    opacity: 0;
}

header .fa-x-twitter.active {
    transform: translate(200%, -115%);
    opacity: 1;
    box-shadow: 5px 5px 10px var(--black);
}