* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url("gambar/trawas.jpg") no-repeat center center/cover;
  height: 100vh;
}

/* tag nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c8b00;
  position: fixed; /* Navbar tetap di bagian atas saat di-scroll */
  top: 0;
  width: 100%;
  height: 9vh;
}

/* class wrapper */
.wrapper {
  width: 100%;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* class logo */
nav .logo {
  color: white;
  font-size: 2rem;
}

/* class .fa-list */
nav .fa-list {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

/* tag ul */
nav .menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

/* tag a */
nav .menu ul li a {
  text-decoration: none; /* Menghilangkan garis bawah pada link */
  color: white;
}

/* id toggle */
#toggle {
  display: none; /* Menyembunyikan tombol toggle pada layar besar */
}

@media screen and (max-width: 768px) {
  nav .menu ul {
    flex-direction: column;
    align-items: center;
    position: absolute; /* posisi absolut */
    top: 10vh;
    right: -100%;
    width: 100%;
    height: 20vh;
    font-size: 1.3rem;
    row-gap: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }

  nav .menu ul.active {
    font-size: 1.3rem;
    row-gap: 20px;
    transform: translateX(-100%); /* menu masuk ke tampilan dari kanan */
  }

  nav .menu ul li {
    background: transparent;
    backdrop-filter: blur(1rem);
    width: 90%;
    height: 4vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

  nav .menu ul li a {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    transition: all 0.3s ease;  
  }

  nav .menu ul li:hover {
    background-color: #ffffff;
  }

  nav .menu ul li:hover a {
    color: black;
  }

  #toggle {
    display: block; /* Menampilkan ikon pada layar kecil */
    cursor: pointer;
    color: white;
    font-size: 2rem;
    position: absolute; /* posisi absolute */
    top: 2vh;
    right: 2rem;
  }
}