body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
}

/* class navbar */
.navbar {
   background: linear-gradient(90deg, rgba(2, 0, 36, 1), rgba(9, 9, 121, 1), rgba(0, 212, 255, 1));
   animation: bg 5s linear infinite;
   margin: auto;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5px 50px;
   position: relative;
   top: 0;
   z-index: 100;
}

/* class fa-house */
.navbar .fa-house {
   color: #ffffff;
}

/* class nav-link */
.navbar .nav-item .nav-link {
   color: #ffffff;
   background-color: #000863;
   border-radius: 5px;
   padding: 5px 10px;
   margin-top: 5px;
}

/* class fa-instagram, fa-linkedin-in */
.navbar .fa-instagram,
.navbar .fa-linkedin-in {
    margin-right: 10px;
    font-size: 1.3rem;
}

@keyframes bg {
   100% {
      filter: hue-rotate(360deg);
   }
}


/* class carousel */
.carousel {
   width: 100%;
   height: 100vh;
   margin-top: -50px;
   overflow: hidden;
   /* Menyembunyikan konten yang melampaui batas elemen carousel, menjaga konten tetap dalam batas carousel */
   position: relative;
}

/* class list item*/
.carousel .list .item {
   width: 100%;
   height: auto;
   position: absolute;
   inset: 0 0 0 0;
}

/* tag img */
.carousel .list .item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   filter: brightness(0.5);
}


/* class content */
.carousel .list .item .content {
   position: absolute;
   top: 15%;
   width: 100%;
   max-width: 80%;
   left: 45%;
   transform: translateX(-50%);
   padding-right: 30%;
   box-sizing: border-box;
}

/* class author */
.carousel .list .item .author {
   font-size: 1.2rem;
   font-weight: bold;
   color: #ffffff;
   letter-spacing: 5px;
   margin-left: 4px;
}

/* class title */
.carousel .list .item .title {
   font-size: 2.5rem;
   font-weight: bold;
   color: #ffffff;
   margin-top: 10px;
}

/* class topic */
.carousel .list .item .topic {
   font-size: 2rem;
   font-weight: bold;
   color: yellow;
   margin-bottom: 10px;
}

/* class describe */
.carousel .list .item .describe {
   width: 80%;
   height: auto;
   font-size: 1rem;
   color: #ffffff;
   text-align: center;
}

.carousel .list .item .author,
.carousel .list .item .title,
.carousel .list .item .topic {
   cursor: default;
}


/* class buttons */
.carousel .list .item .buttons {
   display: grid;
   grid-template-columns: repeat(2, 100px);
   grid-template-rows: 30px;
   gap: 20px;
   margin-top: 30px;
}

/* button */
.carousel .list .item .buttons button {
   border: none;
   background-color: #ffffff;
   color: #000000;
   font-weight: 600;
   /* Mengatur ketebalan teks */
   border-radius: 10px;
   transition: all 0.3s ease;
   /* Mengatur efek transisi pada semua elemen */
}

.carousel .list .item .buttons button:hover {
   border: none;
   background-color: #fbff00;
   color: #0026ff;
   font-weight: 600;
   /* Mengatur teks */
   border-radius: 10px;
   scale: 1.1;
   /* Menggeser elemen sebesar 10% */
}



/* class thumbnails */
.thumbnail {
   position: absolute;
   bottom: 13%;
   left: 50%;
   width: max-content;
   z-index: 100;
   display: flex;
   gap: 25px;
}

/* class item */
.thumbnail .item {
   width: 150px;
   height: 200px;
   flex-shrink: 0;
   position: relative;
}

/* tag img */
.thumbnail .item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
}

/* class content */
.thumbnail .item .content {
   color: white;
   position: absolute;
   bottom: 10px;
   left: 10px;
   right: 10px;
}

/* class title */
.thumbnail .item .content .title {
   display: flex;
   justify-content: center;
   gap: 5px;
   font-size: 1rem;
   text-transform: uppercase;
}


/* class arrows */
.arrows {
   position: absolute;
   bottom: 2%;
   right: 39%;
   z-index: 100;
   width: max-content;
   max-width: 30%;
   display: flex;
   gap: 30px;
   align-items: center;
}

/* tag button */
.arrows button {
   width: 50px;
   /* Mengatur lebar tombol */
   height: 50px;
   /* Mengatur tinggi tombol */
   border-radius: 10%;
   background-color: rgba(0, 0, 0, 0.5);
   /* Mengatur warna latar belakang tombol */
   color: white;
   /* Mengatur warna teks tombol */
   font-size: 1.2rem;
   /* Mengatur ukuran teks tombol */
   transition: 0.5s;
   /* Mengatur efek transisi tombol */
   cursor: pointer;
}

.arrows button:hover {
   background-color: rgba(255, 255, 255, 0.5);
   color: black;
   transform: scale(1.1);
}


/* class item in the first item */
.carousel .list .item:first-child {
   z-index: 1;
}

/* class author, title, topic, describe, buttons */
/* .carousel .list .item:first-child .content .author, */
.carousel .list .item:first-child .content .title,
.carousel .list .item:first-child .content .topic,
.carousel .list .item:first-child .content .describe,
.carousel .list .item:first-child .content .buttons {
   transform: translateY(-50px);
   /* Menggeser elemen vertikal ke bawah sebesar 50px */
   filter: blur(20px);
   /* Menambahkan efek blur sebesar 20px pada elemen */
   opacity: 0;
   /* Mengatur elemen agar sepenuhnya transparan (tidak terlihat) */
   animation: showContent 0.5s 1s linear 1 forwards;
   /* 
   * `animation` showContent property:
   * - `showContent`: Nama animasi yang diterapkan.
   * - `0,5s`: Durasi animasi selama 0,5 detik.
   * - `linear`: Tipe timing function, animasi bergerak dengan kecepatan konstan.
   * - `1`: Jumlah iterasi animasi, yaitu 1 kali.
   * - `forwards`: Menjaga gaya akhir animasi setelah selesai.
   */
}

@keyframes showContent {
   to {
      transform: translateY(0px);
      /* Menggeser elemen kembali ke posisi aslinya pada sumbu Y */
      filter: blur(0px);
      /* Menghilangkan efek blur sepenuhnya, membuat elemen tampak jelas */
      opacity: 1;
      /* Mengatur elemen agar sepenuhnya terlihat (sepenuhnya opaque) */
   }
}

/* animasi delay untuk class title, topic, describe, buttons */
.carousel .list .item:first-child .content .title {
   animation-delay: 1s !important;
   /* Mengatur delay 1 detik */
}

.carousel .list .item:first-child .content .topic {
   animation-delay: 1.2s !important;
   /* Mengatur delay 1,2 detik */
}

.carousel .list .item:first-child .content .describe {
   animation-delay: 1.4s !important;
   /* Mengatur delay 1,4 detik */
}

.carousel .list .item:first-child .content .buttons {
   animation-delay: 1.6s !important;
   /* Mengatur delay 1,6 detik */
}


/* class title, topic, describe */
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .describe,
.carousel.prev .list .item:nth-child(2) .content .buttons {
   animation: contentOut 0.5s linear 1 forwards;
   /* Menerapkan animasi `contentOut` selama 0,5 detik */
}

@keyframes contentOut {
   to {
      transform: translateY(-150px);
      /* Menggeser elemen ke bawah sebesar 150px */
      filter: blur(20px);
      /* Menambahkan efek blur sebesar 20px pada elemen */
      opacity: 0;
   }
}

/* animasi delay untuk class title, topic, describe, buttons */
.carousel .list .item:nth-child(2) .content .title {
   animation-delay: 0.5s !important;
   /* Mengatur delay 0.5 detik */
}

.carousel .list .item:nth-child(2) .content .topic {
   animation-delay: 0.7s !important;
   /* Mengatur delay 0.7 detik */
}

.carousel .list .item:nth-child(2) .content .describe {
   animation-delay: 0.9s !important;
   /* Mengatur delay 0.9 detik */
}

.carousel .list .item:nth-child(2) .content .buttons {
   animation-delay: 1.1s !important;
   /* Mengatur delay 1,1 detik */
}


/* animasi untuk gambar waktu muncul class img*/
.carousel.next .list .item:first-child img {
   width: 150px;
   /* Mengatur lebar gambar saat animasi dimulai */
   height: 220px;
   /* Mengatur tinggi gambar saat animasi dimulai */
   position: absolute;
   /* Menempatkan gambar dalam posisi absolut terhadap elemen induknya */
   bottom: 50px;
   /* Menempatkan gambar 50px dari bagian bawah elemen induk */
   left: 50%;
   /* Menempatkan gambar di tengah secara horizontal relatif terhadap elemen induknya */
   border-radius: 30px;
   /* Memberikan sudut membulat pada gambar dengan radius 30px */
   animation: showImage 0.5s linear 1 forwards;
   /* Menerapkan animasi `showImage` selama 0,5 detik, 
   berjalan dengan kecepatan konstan, dimainkan sekali, dan mempertahankan keadaan akhir */
}

@keyframes showImage {
   to {
      bottom: 0;
      /* Menggerakkan gambar ke posisi bawah (0px dari bawah elemen induk) */
      left: 0;
      /* Menggerakkan gambar ke posisi kiri (0px dari kiri elemen induk) */
      width: 100%;
      /* Mengubah lebar gambar menjadi 100% dari lebar elemen induk */
      height: 100%;
      /* Mengubah tinggi gambar menjadi 100% dari tinggi elemen induk */
      border-radius: 0;
      /* Menghilangkan sudut membulat, membuat gambar menjadi persegi */
   }
}


/* animasi untuk thumbnail bergeser ke kanan waktu munculnya gambar */
.carousel.next .thumbnail .item:nth-last-child(1) {
   overflow: hidden;
   /* Mengatur elemen `overflow` ke `hidden` */
   animation: showThumbnail 0.5s linear 1 forwards;
   /* Menerapkan animasi `showThumbnail` selama 0,5 detik, 
   dengan kecepatan konstan (linear), diputar sekali (1), dan tetap dalam keadaan akhir animasi (forwards) */
}

@keyframes showThumbnail {
   from {
      width: 0;
      /* Mengatur lebar gambar menjadi 0 */
      opacity: 0;
      /* Mengatur opasitas gambar menjadi 0 */
   }
}


/* class item image */
/* .carousel.prev .list .item img {
   z-index: 100;
} */


/* class thumbnail, animasi untuk thumbnail bergeser ke kiri waktu munculnya gambar */
.carousel.next .thumbnail {
   animation: effectNext 0.5s linear 1 forwards;
   /* Menerapkan animasi `effectNext` selama 0,5 detik, 
   dengan kecepatan konstan (linear), diputar sekali (1), dan tetap dalam keadaan akhir animasi (forwards) */
}

/* Animasi untuk efek pergeseran saat berpindah ke slide berikutnya */
@keyframes effectNext {
   from {
      transform: translateX(150px);
      /* Mulai dari posisi 150px ke kanan dari posisi aslinya */
   }
}


/* class item 2 */
.carousel.prev .list .item:nth-child(2) {
   z-index: 2;
   /* Mengatur urutan tumpukan elemen agar elemen ini muncul di atas elemen lain yang memiliki z-index lebih rendah */
}

/* class item 2, animasi untuk gambar */
.carousel.prev .list .item:nth-child(2) img {
   animation: outFrame 0.5s linear 1 forwards;
   position: absolute;
   bottom: 0;
   left: 0;
}

@keyframes outFrame {
   to {
      width: 150px;
      /* Mengatur lebar gambar menjadi 150px */
      height: 200px;
      /* Mengatur tinggi gambar menjadi 200px */
      bottom: 13%;
      /* Mengatur posisi bawah gambar menjadi 13% dari tinggi elemen induknya */
      left: 50%;
      /* Mengatur posisi kiri gambar menjadi 50% dari lebarnya elemen induknya */
      border-radius: 10px;
      /* Mengatur sudut membulat gambar menjadi 10px */
   }
}


/* class thumbnail, animasi untuk thumbnail bergeser ke kanan Waktu munculnya gambar */
.carousel.prev .thumbnail .item:first-child {
   overflow: hidden;
   /* Mengatur elemen `overflow` ke `hidden` */
   opacity: 0;
   animation: showThumbnail 0.5s linear 1 forwards;
   /* Menerapkan animasi `showThumbnail` selama 0,5 detik, 
   berjalan dengan kecepatan konstan (linear), diputar sekali (1), dan tetap dalam keadaan akhir animasi (forwards) */
}


/* tag button */
.carousel.next .arrows button,
.carousel.prev .arrows button,
.carousel .buttons button {
   cursor: pointer;
}


/* media query untuk smartphone */
@media screen and (max-width: 768px) {

   /* samsung s20 ultra */
   header a {
      font-size: 0.8rem;
   }

   .carousel .list .item .content {
      padding-right: 0;
   }

   .carousel .list .item .author {
      font-size: 0.9rem;
      margin: 0;
      letter-spacing: 2px;
   }

   .carousel .list .item .title {
      font-size: 1.3rem;
      margin-top: 8px;
      letter-spacing: 5px;
   }

   .carousel .list .item .topic {
      font-size: 1.3rem;
      margin-top: 5px;
      letter-spacing: 2px;
   }

   .carousel .list .item .describe {
      width: 70%;
      font-size: 0.8rem;
   }

   .thumbnail .item {
      width: 100px;
      height: 150px;
      bottom: 2%;
      left: 5%;
   }

   .arrows {
      position: absolute;
      bottom: 7%;
      right: 20%;
   }

   .arrows button {
      width: 40px;
      height: 40px;
   }

   /* element class item 2 */
   .carousel.prev .list .item:nth-child(2) img {
      animation: outFrame 0.5s linear 1 forwards;
      position: absolute;
      bottom: 0;
      left: 0;
   }

   @keyframes outFrame {
      to {
         width: 99px;
         /* Mengatur lebar gambar menjadi 150px */
         height: 150px;
         /* Mengatur tinggi gambar menjadi 200px */
         bottom: 13%;
         /* Mengatur posisi bawah gambar menjadi 13% dari tinggi elemen induknya */
         left: 56%;
         /* Mengatur posisi kiri gambar menjadi 50% dari lebarnya elemen induknya */
         border-radius: 10px;
         /* Mengatur sudut membulat gambar menjadi 10px */
      }
   }
}

/* media query untuk tablet, gunakan min dan max untuk tidak mempengaruhi penampilan destop */
@media (min-width: 768px) and (max-width: 1024px) {

   /* ipad mini */
   header a {
      font-size: 0.8rem;
   }

   .carousel .list .item .content {
      padding-right: 0;
   }

   .carousel .list .item .author {
      font-size: 0.9rem;
      margin: 0;
      letter-spacing: 2px;
   }

   .carousel .list .item .title {
      font-size: 1.3rem;
      margin-top: 8px;
      letter-spacing: 5px;
   }

   .carousel .list .item .topic {
      font-size: 1.3rem;
      margin-top: 5px;
      letter-spacing: 2px;
   }

   .carousel .list .item .describe {
      width: 70%;
      font-size: 0.8rem;
   }

   .thumbnail .item {
      width: 100px;
      height: 150px;
      bottom: 2%;
      left: 5%;
   }

   .arrows {
      position: absolute;
      bottom: 7%;
      right: 33%;
   }

   .arrows button {
      width: 40px;
      height: 40px;
   }

   .carousel.prev .list .item:nth-child(2) img {
      animation: outFrame 0.5s linear 1 forwards;
      position: absolute;
      bottom: 0;
      left: 0;
   }

   @keyframes outFrame {
      to {
         width: 100px;
         /* Mengatur lebar gambar menjadi 150px */
         height: 150px;
         /* Mengatur tinggi gambar menjadi 200px */
         bottom: 13%;
         /* Mengatur posisi bawah gambar menjadi 13% dari tinggi elemen induknya */
         left: 53%;
         /* Mengatur posisi kiri gambar menjadi 50% dari lebarnya elemen induknya */
         border-radius: 10px;
         /* Mengatur sudut membulat gambar menjadi 10px */
      }
   }
}
