* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dotted black; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#card {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#card h1 {
    font-size: 1.7rem;
    position: relative;
    top: 5%;
    cursor: default;
    text-transform: uppercase;
    color: #ffffff;
}

#card .container {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

#card .container .card {
    width: 250px;
    height: 310px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    margin: 0 20px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

#card .container .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.7s ease;
    transform: scale(1.1);
}

#card .container .card:hover img {
    transform: scale(1);
    filter: brightness(0.6);
}

#card .container .card .card-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    z-index: 1;
    transition: all 0.7s ease;
    opacity: 0;
}

#card .container .card:first-child:hover .card-body {
    opacity: 1;
    width: 90%;
    height: 92%;
    border-radius: 12px;
    box-shadow: 0 0 50px yellow;
}

#card .container .card:nth-child(2):hover .card-body {
    opacity: 1;
    width: 90%;
    height: 92%;
    border-radius: 12px;
    box-shadow: 0 0 50px red;
}

#card .container .card:nth-child(3):hover .card-body {
    opacity: 1;
    width: 90%;
    height: 92%;
    border-radius: 12px;
    box-shadow: 0 0 50px grey;
}

#card .container .card:nth-child(4):hover .card-body {
    opacity: 1;
    width: 90%;
    height: 92%;
    border-radius: 12px;
    box-shadow: 0 0 50px blue;
}

#card .container .card .card-body h2 {
    position: absolute;
    bottom: 40%;
    left: 5%;
    color: #ffffff;
    cursor: default;
    transition: all 0.5s ease 0.5s;
    opacity: 0;
}

#card .container .card .card-body p {
    position: absolute;
    bottom: 34%;
    left: 5%;
    color: #ffffff;
    cursor: default;
    transition: all 0.5s ease 0.7s;
    opacity: 0;
}

#card .container .card .card-body .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 25%;
    left: 5%;
    font-size: 1.5rem;
    column-gap: 10px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.5s ease 0.9s;
    opacity: 0;
}

#card .container .card:hover .card-body h2,
#card .container .card:hover .card-body p,
#card .container .card:hover .card-body .social {
    opacity: 1;
}
